<%#
    This renders the view at runtime.
    The items defined in options.json.ejs are available from the model.
    We can access public members from viewName.base.component.ts.ejs and from public which is viewName.component.ts

    Note: This is an EJS comment - it won't show in the html output - See http://ejs.co/#docs for details
%>
<h2>{{title}}</h2>

<div>
    <%# greeting property can contain html so we cannot use interpolation -> {{greeting}} %>
    <span [innerHTML]="greeting"></span>&nbsp;World {{$config.version}}
</div>
<br />
<br />
Built on {{generatedAt}}

