<%#
    This renders the view at runtime.
    The items from the model are available using the

    Note: This is an EJS comment - it won't show in the html output - See http://ejs.co/#docs for details
%>
<h2 ng-bind-html="vm.$model.titleY"></h2>

<div>
    {{vm.$model.greeting}}&nbsp;World
</div>
