<%#
%>
<h2><%- title %></h2>

<div class="col-lg-12">
    Simple list output
    <ul>
        <li ng-repeat="item in myList">
            id: {{item.id}} name: {{item.name}}
        </li>
    </ul>
</div>

<!-- TBD: Need a property with path to design time -->
<img src="./templates/views/custom-simple-list-ds/design-time/simpleListDesignTimePreview.png"/>