<%#
    This renders the view at runtime.
    The items defined in options.json.ejs are available from the model.
    We can access public members from viewName.base.component.ts.ejs and from public which is viewName.component.ts

    metadata properties need to be prefixed with view.
%>
<h2>{{title}}</h2>

<div style="margin-bottom: 1.5rem;">
    <%# Output list of fields from rest service %>
    <% view.myDataSrcFields.forEach(item => { %>
        <span>
            Field: label: <%- item.label %> name: <%- item.name %>
        </span>&nbsp;
    <% })%>

    <br/>
    <br/>
    Simple list from REST service call
    <ul style="margin: 1rem;">
        <li *ngFor="let item of myRestList">
            <!--<span *ngFor="field of myRestFields">-->
                <!--{{field}}: {{item[field]}}-->
            <!--</span>&nbsp;-->
            <% view.myDataSrcFields.forEach(field => { %>
                <span>
                    <%- field.label %>: {{item['<%- field.name %>']}}
                </span>&nbsp;
            <% })%>
        </li>
    </ul>
</div>
