<%#
    This renders the view when working within KUIB (designer)

    Note: This is an EJS comment - it won't show in the html output - See http://ejs.co/#docs for details
%>
<h2><%- titleX %></h2>

<div class="col-lg-12">
    <%- greeting %> World V1
</div>
