<%#
<script>
    // cannot do this thing because script is not executed
    // the template is appended as div to canvas
    // instead we use options.json.ejs
    var kuiOptions = { xyz: " greeting  };
</script>
%>
<h2><%= title %></h2>

<div>
    <div style="font-size: large"><%- greeting %> World</div>
</div>

<div style="margin: 1rem; padding: 1rem; border: 2px solid goldenrod;">
    Properties Added to Model:
    <ul>
        <li>
            <%# This is an example of a property that is defined in options.json.ejs %>
            Version: {{ version }}
        </li>
        <li>
            <%# This is an example of a property that is defined in index.js, function augmentModel %>
            Template Generated on <%- generatedAt %>
        </li>
    </ul>

</div>