<%#
    This renders the view when working within KUIB (designer).
    We can use the value of view properties by using the names defined in custom-hello-world-v1.json
    For example, titleX is defined as a string property.

    Note: This is an EJS comment - it won't show in the html output - See http://ejs.co/#docs for details

<script>
    // cannot do this thing because script is not executed
    // the template is appended as div to canvas
    // instead we use options.json.ejs
    var kuiOptions = { xyz: " greeting  };
</script>
%>
<h2><%= titleX %></h2>

<div class="col-lg-12">
    <div style="font-size: large"><%- greeting %> World</div>

    <div style="font-size: smaller">Version: {{ version }}</div>

    <br/>
    <br/>
    Using AngularJs syntax bound property from isolated scope: {{greeting}} World

    <!-- TODO:
     This is an example of a property that is not defined in view properties (user cannot edit it at design time)
     but is defined in options.json.ejs
     Should show an example with a kendoui component calendar current date how to set in option
     right now greeting2 is mapped to greeting in options.json.ejs
     -->
    <br/>Showing a property that is not defined in view properties but is defined in options.json.ejs: {{ greeting2 }}
    <br/>
    <br/>Template Generated At: {{ generatedAt }} <%#- generatedAt %>
</div>
