<!--<div style="width: 100%; border: 1px black solid;">Image will show here</div>-->
<img width="100%" src="https://raw.githubusercontent.com/thierryciot/kendoui-builder-template-samples/master/Photos/Barbados.jpg" />
