<%#
    This renders the view at runtime.
    The items defined in options.json.ejs are available from the model.
    We can access public members from viewName.base.component.ts.ejs and from public which is viewName.component.ts

    metadata properties need to be prefixed with view.
%>
<h2>{{title}}</h2>

<div>
    <ul>
        <li *ngFor="let item of myList">
            {{item.id}}: {{item.name}}
        </li>
    </ul>
</div>
